<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Login</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-title>
      Inicio de sesion
    </ion-title>
  </ion-item>
  <br>
  <ion-item lines="full">
    <ion-card>
      <ion-card-content>
        <ion-input id="nombre" (input)="play2()" [(ngModel)]="nombre" minlength="6" maxlength="6">Usuario:</ion-input>
        <ion-label class="error_mensaje" [class.visible]="nombreValido" >El usuario debe tener 6 digitos</ion-label>
      </ion-card-content>
    </ion-card>
  </ion-item>
    <ion-item lines="full">
      <ion-card>
        <ion-card-content>
          <ion-input id="clave" (input)="play()" type="password" [(ngModel)]="clave" minlength="4" maxlength="4">Contraseña:</ion-input>
          <ion-label class="error_mensaje" [class.visible]="claveValida">La contraseña debe poseer 4 digitos</ion-label>
        </ion-card-content>
      </ion-card>
    </ion-item>
    <ion-item>
      <ion-button (click)="login()">Ingresar</ion-button>
      <ion-button (click)="registrar()" color="danger">Registrar</ion-button>
    </ion-item>
    <ion-item>
      <ion-button (click)="recuperar()"color="warning">Recuperar Contraseña</ion-button>
    </ion-item>
</ion-content>
